#ol-map .ol-zoom {
  width: 38px;
  z-index: 1;
  background-color: #212b36;
  color: antiquewhite;
  border: 1px solid orange;
  display: grid;
  position: absolute;
  top: 60px;
  left: 5px;
  border-radius: 5px;
}

#ol-map .ol-full-screen {
  width: 38px;
  z-index: 1;
  background-color: #212b36;
  color: antiquewhite;
  border: 1px solid orange;
  display: grid;
  position: absolute;
  top: 115px;
  left: 5px;
  border-radius: 5px;
}

#ol-map .ol-compass {
  display: none;
}
#ol-map .ol-attribution {
  display: none;
}
