.react-tel-input .form-control {
  width: 100%;
  height: 45px !important;
  padding-left: 60px;
  border: 2px solid transparent;
  background-color: #384063;
  font-size: 18px;
}
.react-tel-input .form-control:focus{
  border: 2px solid #f2994a;

}
.react-tel-input input {
  color: white;
}
.special-label {
  display: none;
}
.react-tel-input .selected-flag:hover {
  background-color: transparent;
}
.react-tel-input .selected-flag:focus {
  background-color: transparent;
  border: none;
}
.react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 65px;
  height: 100%;
  padding: 0 0 0 24px;
  border-radius: 3px 0 0 3px;
  color: white;
}

.flag-dropdown {
  border: 2px solid #f2994a;
  background-color: #1f2937;
  border: none;
  width: 40px;
}
.react-tel-input .flag-dropdown {
  border: none;
  background-color: transparent;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: #384063;
 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
 

.hilight {
  background-color: transparent;
}
div .country-list {
  top: 35px;
  height: 7rem;
  width: 100% !important;
  position: absolute !important;
  background-color: #1f2937 !important;
  border: 2px solid #f2994a;
  @apply rounded-xl;
  color: white;
  text-align: center;
  cursor: pointer;
}
div .country-list li {
  padding-top: 0.75rem !important/* 12px */;
  padding-bottom: 0.75rem !important/* 12px */;
}
div .country-list li:hover {
  color: white;
  background-color: #161c24 !important;
}
.react-tel-input .flag-dropdown.open .selected-flag {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
div .country-list .active {
  color: black !important;
}

.react-tel-input .country-list .country.highlight {
  background-color: #161c24;
}
