 .react-tel-input  .form-control{
  width: 100%;
  height: 44px !important;
padding-left: 5rem; 
 border: 2px solid #F2994A;
  background-color: #384063;

}
.react-tel-input input{
  color:  white;
}
 .special-label{
  display: none;
 }
 .react-tel-input .selected-flag:hover{
  background-color: transparent;
 }
 .react-tel-input .selected-flag:focus{
  background-color: transparent;
  border: none;
 }
 .react-tel-input .selected-flag {
  outline: none;
  position: relative;
  width: 65px;
  height: 100%;
  padding: 0 0 0 24px;
  border-radius: 3px 0 0 3px;
  color: white;
}
 
 .flag-dropdown{
  border: 2px solid #F2994A;
  background-color:#1F2937 ;
  border: none;
  width: 40px;
 }
 .react-tel-input .flag-dropdown{
  border: none;
  background-color: transparent;
 }
 .react-tel-input .flag-dropdown.open .selected-flag{
background-color: #384063;
border-bottom : 2px solid #F2994A;
border-left : 2px solid #F2994A;
border-top : 2px solid #F2994A;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
  }
  /* .react-tel-input .flag-dropdown.open .selected-flag:hover,
  .react-tel-input .flag-dropdown.open .selected-flag:focus{
    @apply bg-[#161C24];
  } */
  .hilight{
    background-color: transparent;
  }
 div .country-list {
  top: 35px;
  height: 7rem;
  width: 100% !important;
  position:  absolute !important;
  background-color: #1F2937 !important;
  border: 2px solid #F2994A;
  border-radius: px;
  color: white;
  text-align: center;
 }
 div .country-list li{
     padding-top: 0.75rem  !important/* 12px */;
    padding-bottom: 0.75rem  !important/* 12px */;
    }
 div .country-list li:hover{
  color: white;
  background-color: #161C24 !important;
 
} 
.react-tel-input .flag-dropdown.open .selected-flag {
  border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
}
 div .country-list  .active{
  color: black !important;
  }